In [ ]:
!ls

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
bom_df = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')
bom_df.tail()

In [ ]:
bom_df.isna().sum()

In [ ]:
bom_df.domestic_gross.describe()

In [ ]:
fig, ax = plt.subplots()



bom_df.boxplot(ax=ax)



plt.show()

In [2]:
# will need genre_ids decoder
tmdb_df = pd.read_csv('./zippedData/tmdb.movies.csv.gz')
tmdb_df.tail()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

In [ ]:
tmdb_df.isna().sum()

In [ ]:
tn_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')
tn_df.tail()

In [ ]:
tn_df.isna().sum()

In [ ]:
rtm_df = pd.read_csv('./zippedData/rt.movie_info.tsv.gz', delimiter='\t')
rtm_df.tail()

In [ ]:
rtm_df.isna().sum()

In [ ]:
rtr_df = pd.read_csv('./zippedData/rt.reviews.tsv.gz', delimiter='\t', encoding = "ISO-8859-1")
rtr_df.tail()

In [ ]:
rtr_df.info()