# Analysis of Genres Vs. Box Office and Profitability

In [54]:
# import libraries
import pandas as pd

# sets the display of float variables so they are not in
# scientific notation
pd.options.display.float_format = '{:.0f}'.format

In [2]:
!ls

README.md
data
genres_vs_boxoffice.ipynb
notebooks
presentation
project_outline.txt
zippedData

In [5]:
# load in the datasets
df_all_data = pd.read_csv('./data/all_data.csv', index_col=0)
df_movie_info = pd.read_csv('./data/movie_info_budget.csv', index_col=0)

In [45]:
df_all_data['production_budget'].value_counts()

20000000    1448
40000000    1307
10000000    1220
35000000    1110
30000000    1108
            ...
42000          8
45000          7
2900000        7
400000         6
225000         4
Name: production_budget, Length: 228, dtype: int64

In [31]:
df = pd.read_csv('./data/movie_info_budget.csv', index_col=0)

In [41]:
df = pd.read_csv('./data/tmdb_filtered.csv', index_col=0)

In [43]:
df.loc[df['imdb_id'] == 'tt0249516']

,budget,genres,id,imdb_id,original_title,release_date,revenue,vote_average,vote_count
8456,65000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",116977.0,tt0249516,Foodfight!,2012-06-15,73706.0,1.9,103.0

In [38]:
df.loc[df['movie_id'] == 'tt0249516']

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
1325,26,"Dec 31, 2012",Foodfight!,"$45,000,000",$0,"$73,706"

### Now it's time to take a look at both data frames

In [8]:
print(df_all_data.shape)
df_all_data.head(10)

(34033, 21)

,movie_id,primary_title,original_title,start_year,genres,average_rating,num_votes,persons_name,persons_job,title_norm_movie_info,...,release_date,movie,production_budget,domestic_gross,worldwide_gross,title_norm_genre_long,genre,imdb_id,vote_average,vote_count
0,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Johnny Depp,actor,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Fantasy,tt1014759,6.6,12255.0
1,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Johnny Depp,actor,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Family,tt1014759,6.6,12255.0
2,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Johnny Depp,actor,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Adventure,tt1014759,6.6,12255.0
3,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Helena Bonham Carter,actress,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Fantasy,tt1014759,6.6,12255.0
4,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Helena Bonham Carter,actress,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Family,tt1014759,6.6,12255.0
5,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Helena Bonham Carter,actress,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Adventure,tt1014759,6.6,12255.0
6,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Tim Burton,director,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Fantasy,tt1014759,6.6,12255.0
7,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Tim Burton,director,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Family,tt1014759,6.6,12255.0
8,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Tim Burton,director,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Adventure,tt1014759,6.6,12255.0
9,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Anne Hathaway,actress,alice in wonderland 2010,...,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Fantasy,tt1014759,6.6,12255.0

In [9]:
print(df_movie_info.shape)
df_movie_info.head(10)

(12689, 16)

,movie_id,primary_title,original_title,start_year,genres,average_rating,num_votes,persons_name,persons_job,title_norm,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Johnny Depp,actor,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
1,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Helena Bonham Carter,actress,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
2,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Tim Burton,director,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
3,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Anne Hathaway,actress,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
4,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Joe Roth,producer,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
5,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Lewis Carroll,writer,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
6,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Jennifer Todd,producer,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
7,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Suzanne Todd,producer,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
8,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Linda Woolverton,writer,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110
9,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Mia Wasikowska,actress,alice in wonderland 2010,51,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110

#### df_all_data I will allow me to look at the individual genres and how they performed against box office and profitability

In [10]:
# take a look at the columns
df_all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34033 entries, 0 to 34032
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movie_id               34033 non-null  object
 1   primary_title          34033 non-null  object
 2   original_title         34033 non-null  object
 3   start_year             34033 non-null  int64
 4   genres                 34033 non-null  object
 5   average_rating         34033 non-null  float64
 6   num_votes              34033 non-null  int64
 7   persons_name           34033 non-null  object
 8   persons_job            34033 non-null  object
 9   title_norm_movie_info  34033 non-null  object
 10  id                     34033 non-null  int64
 11  release_date           34033 non-null  object
 12  movie                  34033 non-null  object
 13  production_budget      34033 non-null  int64
 14  domestic_gross         34033 non-null  int64
 15  worldwide_gross        34033 non-null  int64
 16  title_norm_genre_long  34033 non-null  object
 17  genre                  34033 non-null  object
 18  imdb_id                34033 non-null  object
 19  vote_average           34033 non-null  float64
 20  vote_count             34033 non-null  float64
dtypes: float64(3), int64(6), object(12)
memory usage: 5.7+ MB

#### I'll add a profitability column that will show the difference between worldwide gross and production budget.

NOTE: Microsoft is a large enough company where they may want to distribute large movies worldwide. This is why I'll gauge profitability based off (worldwide_gross - production_budget) rather than (domestic_gross - production_budget)

In [22]:
# add profitability column to df_all_data
df_all_data['profitability'] = df_all_data['worldwide_gross'] - df_all_data['production_budget']

In [23]:
# take a look at the new column
df_all_data.head()

,movie_id,primary_title,original_title,start_year,genres,average_rating,num_votes,persons_name,persons_job,title_norm_movie_info,...,movie,production_budget,domestic_gross,worldwide_gross,title_norm_genre_long,genre,imdb_id,vote_average,vote_count,profitability
0,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Johnny Depp,actor,alice in wonderland 2010,...,Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Fantasy,tt1014759,6.6,12255.0,825491110
1,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Johnny Depp,actor,alice in wonderland 2010,...,Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Family,tt1014759,6.6,12255.0,825491110
2,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Johnny Depp,actor,alice in wonderland 2010,...,Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Adventure,tt1014759,6.6,12255.0,825491110
3,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Helena Bonham Carter,actress,alice in wonderland 2010,...,Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Fantasy,tt1014759,6.6,12255.0,825491110
4,tt1014759,Alice in Wonderland,Alice in Wonderland,2010,"Adventure,Family,Fantasy",6.5,358813,Helena Bonham Carter,actress,alice in wonderland 2010,...,Alice in Wonderland,200000000,334191110,1025491110,alice in wonderland 2010,Family,tt1014759,6.6,12255.0,825491110

#### We don't need the person's name, ratings, and etc.. Only columns we need are ['movie_id', 'genre', 'primary_title', 'production_budget', 'domestic_gross', 'worldwide_gross']

#### Now I need to group by the dataframe in order to get the genres and gross associated with the movie_id. Then from there I can do a final group by to find the average of each genre.

In [47]:
# we only need the relevant columns for our analysis
relevant_columns = ['movie_id', 
                    'genre', 
                    'primary_title', 
                    'production_budget', 
                    'domestic_gross', 
                    'worldwide_gross', 
                    'profitability']
df_all_filtered = df_all_data[relevant_columns].groupby(['movie_id','genre']).mean().reset_index()

In [57]:
df_all_filtered

,movie_id,genre,production_budget,domestic_gross,worldwide_gross,profitability
0,tt0249516,Action,45000000,0,73706,-44926294
1,tt0249516,Animation,45000000,0,73706,-44926294
2,tt0249516,Comedy,45000000,0,73706,-44926294
3,tt0359950,Adventure,91000000,58236838,187861183,96861183
4,tt0359950,Comedy,91000000,58236838,187861183,96861183
...,...,...,...,...,...,...
3308,tt7784604,Mystery,10000000,44069456,70133905,60133905
3309,tt7959026,Crime,50000000,103804407,170857676,120857676
3310,tt7959026,Drama,50000000,103804407,170857676,120857676
3311,tt7959026,Thriller,50000000,103804407,170857676,120857676
3312,tt8632862,Documentary,5000000,6352306,6653715,1653715

In [28]:
df_all_data.loc[df_all_data['movie_id'] == 'tt0249516']

,movie_id,primary_title,original_title,start_year,genres,average_rating,num_votes,persons_name,persons_job,title_norm_movie_info,...,movie,production_budget,domestic_gross,worldwide_gross,title_norm_genre_long,genre,imdb_id,vote_average,vote_count,profitability
8523,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Charlie Sheen,actor,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8524,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Charlie Sheen,actor,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8525,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Charlie Sheen,actor,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8526,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Sean Catherine Derek,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8527,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Sean Catherine Derek,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8528,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Sean Catherine Derek,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8529,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Haylie Duff,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8530,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Haylie Duff,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8531,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Haylie Duff,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8532,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Hilary Duff,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8533,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Hilary Duff,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8534,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Hilary Duff,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8535,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Robert Engelman,producer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8536,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Robert Engelman,producer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8537,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Robert Engelman,producer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8538,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Brent V. Friedman,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8539,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Brent V. Friedman,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8540,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Brent V. Friedman,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8541,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Lawrence Kasanoff,director,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8542,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Lawrence Kasanoff,director,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8543,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Lawrence Kasanoff,director,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8544,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Eva Longoria,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8545,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Eva Longoria,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8546,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Eva Longoria,actress,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8547,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Rebecca Swanson,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8548,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Rebecca Swanson,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8549,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Rebecca Swanson,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294
8550,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Joshua Wexler,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Animation,tt0249516,1.9,103.0,-44926294
8551,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Joshua Wexler,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Action,tt0249516,1.9,103.0,-44926294
8552,tt0249516,Foodfight!,Foodfight!,2012,"Action,Animation,Comedy",1.9,8248,Joshua Wexler,writer,foodfight! 2012,...,Foodfight!,45000000,0,73706,foodfight! 2012,Comedy,tt0249516,1.9,103.0,-44926294

In [56]:
df_all_filtered.groupby('genre').mean().sort_values('profitability', ascending=False)

             production_budget  domestic_gross  worldwide_gross  profitability
genre
Animation             99857895       142907045        392384911      292527016
Singing               72381250       136402400        352957197      280575947
Sci-Fi                97229167       132860030        362661093      265431926
Adventure            111473899       132784413        373363161      261889261
Action                83585364        94373014        256850979      173265615
Fantasy               90528947        89030087        257383773      166854826
Family                70641975        85940754        211082930      140440955
Comedy                42786192        63445553        143660450      100874258
Thriller              34705889        47570916        123367938       88662049
Mystery               26408136        42139907         98412234       72004098
History               42910714        55629165        114892315       71981600
Music                 17886957        39779766         86470425       68583469
Biography             28059623        47109996         96009945       67950322
Crime                 34484322        41638111         91576719       57092397
Drama                 28948582        38556266         83664890       54716308
Horror                19074362        33477490         73680456       54606094
Romance               22939608        37825577         76941545       54001937
Western               60663636        52142698        112433602       51769966
War                   28343750        25278346         60284657       31940907
Sport                 24303704        37426000         52451806       28148103
Documentary            4030208        14311908         20070120       16039911