In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import time

In [3]:
# checking the size/type of the data
tmdb_df = pd.read_csv('./zippedData/tmdb.movies.csv.gz')
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [5]:
# testing the api key from The Movie Database
# the 3 or 4 after '.org/' determines the version, and therefore the key to use

API_KEY_V3 = 'd15ab8aefa8ddede64de44721f315562'
API_KEY_V4 = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTVhYjhhZWZhOGRkZWRlNjRkZTQ0NzIxZjMxNTU2MiIsInN1YiI6IjYyY2Q5ZGRiNGMxYmIwMDA0ZGYyNDg0YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.D412WZtFRmn-fLQixYXxk9_cDmzh8jCQ-3e97mMc_bA'

url = "https://api.themoviedb.org/4/auth/request_token"

payload = "{\"redirect_to\":\"http://www.themoviedb.org/\"}"
headers = {
    'content-type': "application/json;charset=utf-8",
    'authorization': "Bearer " + API_KEY_V4
    }

response = requests.request("POST", url, data=payload, headers=headers)

print(response.text)

{"request_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTVhYjhhZWZhOGRkZWRlNjRkZTQ0NzIxZjMxNTU2MiIsImp0aSI6NDYwMjM4NSwic2NvcGVzIjpbInBlbmRpbmdfcmVxdWVzdF90b2tlbiJdLCJleHAiOjE2NTc3MjAyMzEsIm5iZiI6MTY1NzcxOTMzMSwidmVyc2lvbiI6MSwicmVkaXJlY3RfdG8iOiJodHRwOi8vd3d3LnRoZW1vdmllZGIub3JnLyJ9.p4098tfE7MOS1zUpt_y2ny8rr0AtPf-BnsbqZf02SGw","status_code":1,"status_message":"Success.","success":true}

In [6]:
# using the sample search string in the api documentation
# checking to see if breaking it down gives a valid response

search_url = 'https://api.themoviedb.org/3/search/movie?api_key='

string_ = 'Jack+Reacher'
string_query = string_.replace(' ', '+')

# search format
# https://api.themoviedb.org/3/search/movie?api_key={api_key}&query=Jack+Reacher
search_response = search_url + API_KEY_V3 + '&query=' + string_query


r = requests.get(search_response)
print(r)

<Response [200]>

In [8]:
# using one of the last movies in the provided dataframe
# checking that we can get the output we need

by_title_url = 'https://api.themoviedb.org/3/movie/'
mv_id = '488143'
get_response = by_title_url + mv_id + '?api_key=' + API_KEY_V3 + '&language=en-US'

r = requests.get(get_response)
r.json()

{'adult': False,
 'backdrop_path': None,
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [{'id': 27, 'name': 'Horror'}, {'id': 18, 'name': 'Drama'}],
 'homepage': '',
 'id': 488143,
 'imdb_id': 'tt6956566',
 'original_language': 'en',
 'original_title': 'Laboratory Conditions',
 'overview': 'A physician investigating a missing body disrupts an unlawful experiment.',
 'popularity': 0.888,
 'poster_path': '/5gNDLWSFTdN22I2wO0o1XyINO95.jpg',
 'production_companies': [],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2018-10-13',
 'revenue': 0,
 'runtime': 16,
 'spoken_languages': [],
 'status': 'Released',
 'tagline': '',
 'title': 'Laboratory Conditions',
 'video': False,
 'vote_average': 0.0,
 'vote_count': 1}

In [9]:
# sample for loop

for movie in tmdb_df.head()['id']:
    print(movie)

12444
10191
10138
862
27205

In [9]:
# getting the data from the api
# it took about two hours to run
# activate at your own peril

dict_list = []

# grabs the data via request based on movie id from provided data
# has a 1/20th second delay to avoid getting rejected by server
# adds data as a json dict to the above list
for id_num in tmdb_df['id']:
    time.sleep(.05)
    mv_id = str(id_num)
    get_response = by_title_url + mv_id + '?api_key=' + API_KEY_V3 + '&language=en-US'
    r = requests.get(get_response)
    dict_list.append(r.json())

# converts list of dicts to dataframe for ease of access
test_df = pd.DataFrame(dict_list)

In [10]:
# creating a list of all the columns
remove_list = list(test_df)

# creating a list of all the columns we want to keep
# then removing those from the list above
keep_list = ['budget', 'genres', 'id', 'imdb_id', 'original_title', 'release_date', 'revenue', 'vote_average', 'vote_count']
for column in keep_list:
    remove_list.remove(column)

# removing unwanted columns
test_df = test_df.drop(remove_list, axis=1)
test_df

,budget,genres,id,imdb_id,original_title,release_date,revenue,vote_average,vote_count
0,250000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",12444.0,tt0926084,Harry Potter and the Deathly Hallows: Part 1,2010-10-17,954305868.0,7.8,16170.0
1,165000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",10191.0,tt0892769,How to Train Your Dragon,2010-03-18,494878759.0,7.8,11036.0
2,200000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",10138.0,tt1228705,Iron Man 2,2010-04-28,623933331.0,6.8,18118.0
3,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",862.0,tt0114709,Toy Story,1995-10-30,373554033.0,8.0,15570.0
4,160000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",27205.0,tt1375666,Inception,2010-07-15,825532764.0,8.4,31837.0
...,...,...,...,...,...,...,...,...,...
26512,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",488143.0,tt6956566,Laboratory Conditions,2018-10-13,0.0,0.0,1.0
26513,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",485975.0,tt5531026,_EXHIBIT_84xxx_,2018-05-01,0.0,0.0,1.0
26514,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",381231.0,tt3118968,The Last One,2018-10-01,0.0,0.0,1.0
26515,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",366854.0,tt3377456,Trailer Made,2016-01-01,0.0,2.0,1.0
26516,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",309885.0,tt2482856,The Church,2018-10-05,0.0,5.0,4.0

In [ ]:
# saving the data as a csv in our project folder
test_df.to_csv('the_movie_db_filtered.csv')